@import '../../src/index.scss';

.Header {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: $additional-background;

    ul {
      display: flex;
      list-style: none;
      margin: 0;

      li {
        margin-left: 20px;
      }

      a {
        text-decoration: none;
        color: $primary-color;
      }

      a:hover {
        color: rgb(129, 129, 116);
      }
    }
  }
}
