@import '../../src/index.scss';

.Browsers {
  background-color: $additional-background;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;

  &:hover {
    background-color: $additional-hover-background;
    transition: 0.5s;
  }

  img {
    width: 180px;
  }
}
