@import '../../src/index.scss';

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $additional-background;
  height: 80px;
  font-size: 18px;

  &:hover {
    background-color: $additional-hover-background;
    transition: 0.2s;
    font-style: italic;
  }

  span {
    text-shadow: 1px 1px $primary-background;
    margin-right: 10px;
  }
}
