$primary-color: beige;
$primary-background: rgb(51, 51, 51);
$additional-background: rgb(80, 80, 80);
$additional-hover-background: rgb(77, 121, 69);

body {
  margin: 0;
  padding: 0;
  background-color: $primary-background;
  color: $primary-color;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1 {
  font-style: italic;
  font-size: 30px;
  margin: 15px;
}

.brick {
  background-color: $additional-background;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;

  &:hover {
    background-color: $additional-hover-background;
    transition: 0.5s;
  }
}

img {
  width: 180px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $additional-background;

  ul {
    display: flex;
    list-style: none;
    margin: 0;

    li {
      margin-left: 20px;
    }

    a {
      text-decoration: none;
      color: $primary-color;

      &:hover {
        color: $additional-hover-background;
        transition: 0.2s;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $additional-background;
  height: 80px;
  font-size: 18px;

  &:hover {
    background-color: $additional-hover-background;
    transition: 0.2s;
    font-style: italic;
  }

  span {
    text-shadow: 1px 1px $primary-background;
    margin-right: 10px;
  }
}
